.carousel-root.banner {
	max-height: 230px;
	overflow: visible;
	& .control-arrow:is(.control-prev, .control-next) {
		max-height: 230px;
		width: 80px;
		padding: 0;
		opacity: 1;
		color: #000;
		border-radius: 0.25rem;
		border: 2px solid transparent;
		margin: 2px 0;
		&:is(:active, :focus, :focus-visible) {
			border-color: #007185;
			outline: #fff solid 2px;
		}
		&:hover {
			background: transparent;
		}
		&::before {
			content: unset;
		}
	}
	& .slider-wrapper.axis-horizontal::before {
		content: "";
		position: absolute;
		top: 250px;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(-180deg, rgba(234, 237, 237, 0), #e3e6e6);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E3E6E6', endColorstr='#E3E6E6', GradientType=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E3E6E6', endColorstr='#E3E6E6',GradientType=0)";
		pointer-events: none;
		z-index: 1;
	}
}
