.pageSection[data-page="home"] {
	max-width: 1500px;
	margin: 0 auto;
	padding-bottom: 1.25rem;
	.contentCard {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.25rem;
		margin: 0 1.25rem;
		margin-top: 1.25rem;
		z-index: 2;
	}
	& .contentGrid {
		margin-top: 1.25rem;
	}
}
