.productCard {
	background-color: #fff;
	padding: 1.25rem 1.25rem 0.65rem 1.25rem;
	max-width: 400px;
	height: 420px;
	@include flex(column);
	&__header {
		font-weight: 600;
		font-size: 1.25rem;
		margin-bottom: 10px;
	}
	&__body {
		height: 275px;
		flex-grow: 1;
		&[data-type="grid"] {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;
			& .productCard__container {
				display: inline-block;
				padding: 0 0 36px;
			}
		}
	}
	&__footer {
		font-size: 0.75rem;
		margin-bottom: 0.25rem;
	}
	&__container {
		height: 100%;
		margin: 0;
		position: relative;
		cursor: pointer;
	}
	&__image {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
		& > img {
			bottom: -9999px;
			left: -9999px;
			margin: auto;
			position: absolute;
			right: -9999px;
			top: -9999px;
			height: 100%;
			max-height: 100%;
			max-width: none;
		}
	}
	&__text {
		@include truncate-text();
		max-height: 36px;
		font-size: 0.65rem;
		line-height: 110%;
	}
}
